<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<body>

<div th:fragment="addNewPeriodModal" class="modal fade" tabindex="-1" id="btnAddNewPeriod" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100" th:text="#{modalTitle_add_new_period_page}"></h4>

            </div>

            <div class="modal-body">

                <form th:action="@{/addNewPeriod}" th:object="${addNewPeriodForm}" method="post"
                      id="addNewPeriodForm" name="addNewPeriodForm">

                    <div class="form-row">

                        <div class="form-group col-md-12 textAlignLeft">

                            <label for="workoutId" th:text="#{workoutId_add_new_period_page}"></label>

                            <select class="form-control" id="workoutId" name="workoutId" required="true">

                                <option value="" hidden></option>

                                <option th:each="tempWorkoutListForPeriod:${workoutListForPeriod}"
                                th:value="${tempWorkoutListForPeriod.workoutId}" th:text="${tempWorkoutListForPeriod.workoutName}"></option>


                            </select>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6 textAlignLeft">

                            <label for="auditoriumId" th:text="#{auditoriumId_add_new_period_page}"></label>

                            <select class="form-control" id="auditoriumId" name="auditoriumId" required="true">

                                <option value="" hidden></option>

                                <option th:each="tempAuditoriumListForPeriod:${auditoriumListForPeriod}"
                                        th:value="${tempAuditoriumListForPeriod.auditoriumId}"
                                        th:text="${tempAuditoriumListForPeriod.auditoriumId}"></option>

                            </select>

                        </div>

                        <div class="form-group col-md-6 textAlignLeft">

                            <label for="periodDateTimeStart" th:text="#{periodDateTimeStart_add_new_period_page}">

                            </label>

                            <input id="periodDateTimeStart" name="periodDateTimeStart" required="true"/>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="col-md-12">

                            <div class="inlineFlex w-100 marginTopDefault">

                                <input type="button" id="btnCancel" class="btn btn-light"
                                       data-dismiss="modal" th:value="#{btnCancel}"/>

                                <input type="submit" id="btnAdd" class="btn btn-light"
                                       th:value="#{btnAdd_add_new_period_page}"/>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

    <script src="js/addNewPeriod.js" type="text/javascript"></script>

</div>

</body>

</html>