<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<body>

<div th:fragment="auditoriumSearchModal" class="modal fade" id="btnSearch" tabindex="-1"
     role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100" th:text="#{modalTitle_auditorium_search_page}"></h4>

            </div>

            <div class="modal-body">

                <form th:action="@{/auditoriumsSearchResult}" th:object="${auditoriumSearchForm}" method="post">

                    <div class="form-row">

                        <label for="auditoriumId" th:text="#{auditoriumId_auditorium_search_page}"></label>

                        <input type="search" class="form-control" id="auditoriumId" name="auditoriumId"
                               th:placeholder="#{auditoriumId_auditorium_search_page}">

                    </div>

                    <div class="form-row">

                        <label for="auditoriumSortBy" th:text="#{lblSortBy}"></label>

                        <select class="form-control text-center" name="auditoriumSortBy" id="auditoriumSortBy">

                            <option value="" selected> </option>
                            <option value="ORDER BY auditoriumId ASC"
                                    th:text="#{orderByAuditoriumIdASC_auditorium_search_page}"></option>
                            <option value="ORDER BY auditoriumId DESC"
                                th:text="#{orderByAuditoriumIdDESC_auditorium_search_page}"></option>
                            <option value="ORDER BY capacity ASC"
                                th:text="#{orderByCapacityASC_auditorium_search_page}"></option>
                            <option value="ORDER BY capacity DESC"
                                th:text="#{orderByCapacityDESC_auditorium_search_page}"></option>

                        </select>

                    </div>

                    <div class="form-row">

                            <div class="inlineFlex w-100 marginTopDefault alignRight">

                                <input type="button" id="btnCancel" class="btn btn-light w-25" data-dismiss="modal"
                                       th:value="#{btnCancel}"/>

                                <input type="submit" id="btnWorkoutSearch" class="btn btn-light w-25"
                                       th:value="#{btnSearch}"/>

                            </div>

                    </div>

                </form>

            </div>


        </div>

    </div>

</div>

</body>

</html>