<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<body>

<div th:fragment="auditoriumDetailsModal" class="modal fade" role="dialog" tabindex="-1"
     th:id="@{'linkAuditoriumDetails' + ${tempAuditoriumList.auditoriumId}}">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100" th:if="${tempAuditoriumList.auditoriumId != ''}"
                    th:text="#{modalTitle_show_auditorium_details_page}">
                </h4>

                <h4 class="modal-title w-100" th:if="${tempAuditoriumList.auditoriumId == ''}"
                    th:text="#{modalTitle_add_auditorium_details_page}">
                </h4>

            </div>

            <div class="modal-body">

                <form th:action="${tempAuditoriumList.auditoriumId == ''} ? @{/addNewAuditorium} : @{/saveAuditoriumDetails}"
                      th:object="${addEditAuditoriumForm}" method="post">

                    <div class="form-row">

                        <div class="form-group col-md-6 textAlignLeft">

                            <label for="auditoriumId" th:text="#{auditoriumId_auditorium_details_page}"></label>

                            <input type="text" class="form-control" id="auditoriumId" name="auditoriumId"
                                   th:placeholder="#{auditoriumIdPlaceholder_auditorium_details_page}"
                                   th:value="${tempAuditoriumList.auditoriumId}"
                                   th:readonly="${tempAuditoriumList.auditoriumId != ''}" maxlength="5" required>

                        </div>

                        <div class="form-group col-md-6 textAlignLeft">

                            <label for="auditoriumCapacity" th:text="#{auditoriumCapacity_auditorium_details_page}">
                                </label>

                            <input type="number" class="form-control" id="auditoriumCapacity" name="auditoriumCapacity"
                                   placeholder="Auditorium capacity" th:value="${tempAuditoriumList.capacity}" min="1"
                                   required>

                        </div>

                    </div>

                    <div class="inlineFlex w-100 alignRight marginTopDefault">

                        <a th:if="${tempAuditoriumList.auditoriumId != ''}"
                           th:href="@{'/removeAuditorium?id=' + ${tempAuditoriumList.auditoriumId}}"
                           class="btn btn-light w-50 alignRight" id="btnRemove"
                           th:text="#{btnRemove_auditorium_details_page}"></a>

                        <input type="submit" id="btnSave" class="btn btn-light w-25 alignRight" th:value="#{btnSave}"/>

                        <input id="btnOk" class="btn btn-light w-25 alignRight" data-dismiss="modal"
                               th:value="#{btnClose}"/>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

</div>

</body>

</html>