<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

    <body>

        <div th:fragment="changePasswordModal" class="modal fade" tabindex="-1" id="btnChangePassword" role="dialog">

            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">

                    <div class="modal-header text-center">

                        <h4 class="modal-title w-100" th:text="#{modalTitle_change_password_page}"></h4>

                    </div>

                    <div class="modal-body">

                        <!--/*@thymesVar id="changePasswordForm" type=""*/-->

                        <form th:action="@{/changePassword}" th:object="${changePasswordForm}" method="post"
                              id="changeOldPasswordForm" name="changeOldPasswordForm">

                            <div class="form-row">

                                <label for="userNewPassword" th:text="#{userNewPassword_change_password_page}">
                                    </label>

                                <input class="form-control" type="password" name="userNewPassword" id="userNewPassword"
                                       th:placeholder="#{userNewPasswordPlaceholder_change_password_page}">

                            </div>

                            <div class="form-row">

                                <label for="userNewPasswordRepeated"
                                       th:text="#{userNewPasswordRepeated_change_password_page}"></label>

                                <input class="form-control" type="password" name="userNewPasswordRepeated"
                                       id="userNewPasswordRepeated"
                                       th:placeholder="#{userNewPasswordRepeatedPlaceholder_change_password_page}">

                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">

                                </div>

                                <div class="form-group col-md-6">

                                    <div class="inlineFlex w-100 marginTopDefault">

                                        <input type="button" id="btnCancel" class="btn btn-light" data-dismiss="modal"
                                               th:value="#{btnCancel}"/>

                                        <input type="submit" id="btnSetNewPassword" class="btn btn-light"
                                               th:value="#{btnChangePassword_change_password_page}"/>

                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </body>

</html>