<!DOCTYPE html>

<html lang="en">

    <body>

        <nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">

                <a class="navbar-brand" href="/">MagicBoost Gym Center</a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <div class="navbar-nav ml-auto">

                        <!-- For desktop version of website -->

                        <a href="#" class="nav-item nav-link d-none d-lg-block" data-toggle="modal" data-target="#btnSearch">
                            <span class="material-icons">search</span>
                        </a>

                        <a href="#" class="nav-item nav-link d-none d-lg-block" data-toggle="modal" data-target="#btnEvents">
                            <span class="material-icons">event</span>
                        </a>

                        <a href="#" class="nav-item nav-link d-none d-lg-block" data-toggle="modal" data-target="#btnWishList">
                            <span class="material-icons">favorite_border</span>
                        </a>

                        <a href="#" class="nav-item nav-link d-none d-lg-block" data-toggle="modal"
                           data-target="#btnUserRegistration">

                            <span class="material-icons" data-toggle="tooltip" title="Register">person_add_alt</span>

                        </a>

                        <a href="#" class="nav-item nav-link d-none d-lg-block" data-toggle="modal" data-target="#btnUserLogin">
                            <span class="material-icons" data-toggle="tooltip" title="Login">login</span>
                        </a>

                        <!-- For mobile version of website -->

                        <a href="#" class="nav-item nav-link d-lg-none" data-toggle="modal" data-target="#btnSearch">

                            <div class="inlineFlexNav">

                                <span class="material-icons">search</span>
                                Search for workouts

                            </div>

                        </a>

                        <a href="#" class="nav-item nav-link d-lg-none" data-toggle="modal" data-target="#btnEvents">

                            <div class="inlineFlexNav">

                                <span class="material-icons">event</span>
                                Reserved workouts

                            </div>

                        </a>

                        <a href="#" class="nav-item nav-link d-lg-none" data-toggle="modal" data-target="#btnWishList">

                            <div class="inlineFlexNav">

                                <span class="material-icons">favorite_border</span>
                                Wishlist

                            </div>

                        </a>

                        <a href="#" class="nav-item nav-link d-lg-none" data-toggle="modal" data-target="#btnUserRegistration">

                            <div class="inlineFlexNav">

                                <span class="material-icons">person_add_alt</span>
                                Register

                            </div>

                        </a>

                        <a href="#" class="nav-item nav-link d-lg-none" data-toggle="modal" data-target="#btnUserLogin">

                            <div class="inlineFlexNav">

                                <span class="material-icons">login</span>
                                Login

                            </div>

                        </a>

                    </div>

                </div>

            </div>

        </nav>

    </body>

</html>