<!DOCTYPE html>

<html lang="en">

    <body>

        <nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-light bg-light textAlignCenter">

            <div class="container-fluid">

                <!--/*@thymesVar id="navBarTitle" type=""*/-->

                <!--/*@thymesVar id="navBarTitlePath" type=""*/-->

                <a class="navbar-brand" th:href="${navBarTitlePath}" th:text="${navBarTitle}"></a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapseAdministrator">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse textAlignCenter" id="navbarCollapseAdministrator">

                    <div class="navbar-nav ml-auto">

                        <!-- For desktop version of website -->

                        <!--/*@thymesVar id="showAllWorkoutsIconNavBar" type=""*/-->

                        <!--/*@thymesVar id="showAllWorkoutsIconNavBarLink" type=""*/-->

                        <a th:if="${showAllWorkoutsIconNavBar}" th:href="${showAllWorkoutsIconNavBarLink}"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showAllWorkoutsIconNavBar}">
                                home</span>

                        </a>

                        <!--/*@thymesVar id="showTranslateIconNavBar" type=""*/-->
                        <!--/*@thymesVar id="translateNavBarPath" type=""*/-->

                        <a th:if="${showTranslateIconNavBar}" class="nav-item nav-link d-none d-lg-block"
                           th:href="${translateNavBarPath}">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showTranslateIconNavBar}">
                                translate</span>

                        </a>

                        <!--/*@thymesVar id="showSearchIconNavBar" type=""*/-->

                        <a th:if="${showSearchIconNavBar}" href="#" class="nav-item nav-link d-none d-lg-block"
                           data-toggle="modal" data-target="#btnSearch">
                            <span class="material-icons" data-toggle="tooltip" th:title="#{showSearchIconNavBar}">
                                search</span>
                        </a>

                        <!--/*@thymesVar id="showCommentsIconNavBar" type=""*/-->

                        <a th:if="${showCommentsIconNavBar}" class="nav-item nav-link d-none d-lg-block"
                           href="/workoutComments?id=-1">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showCommentsIconNavBar}">
                                chat</span>
                        </a>


                        <!--/*@thymesVar id="showWorkoutSummaryIconNavBar" type=""*/-->

                        <a th:if="${showWorkoutSummaryIconNavBar}" href="/summary"
                           class="nav-item nav-link d-none d-lg-block">
                            <span class="material-icons" data-toggle="tooltip"
                                  th:title="#{showWorkoutSummaryIconNavBar}">bar_chart</span>
                        </a>

                        <!--/*@thymesVar id="showWorkoutReservationsIconNavBar" type=""*/-->

                        <a th:if="${showWorkoutReservationsIconNavBar}" href="/reservations"
                           class="nav-item nav-link d-none d-lg-block">
                            <span class="material-icons" data-toggle="tooltip"
                                  th:title="#{showWorkoutReservationsIconNavBar}">event</span>
                        </a>

                        <!--/*@thymesVar id="addPeriodIconNavBar" type=""*/-->

                        <div th:if="${addPeriodIconNavBar}"
                             th:insert="/fragments/addNewPeriod :: addNewPeriodModal"></div>

                        <a th:if="${addPeriodIconNavBar}" href="#" class="nav-item nav-link d-none d-lg-block"
                           data-toggle="modal" data-target="#btnAddNewPeriod">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{addPeriodIconNavBar}">
                                more_time</span>
                        </a>

                        <!--/*@thymesVar id="showAuditoriumsIconNavBar" type=""*/-->

                        <a th:if="${showAuditoriumsIconNavBar}" href="/auditoriums"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showAuditoriumsIconNavBar}">
                                apartment</span>
                        </a>

                        <!--/*@thymesVar id="showAddNewWorkoutIconNavBar" type=""*/-->

                        <a th:if="${showAddNewWorkoutIconNavBar}" href="/addNewWorkout"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip"
                                  th:title="#{showAddNewWorkoutIconNavBar}">fitness_center</span>

                        </a>

                        <!--/*@thymesVar id="showFavoritesIconNavBar" type=""*/-->

                        <a th:if="${showFavoritesIconNavBar}" href="/wishlist"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showFavoritesIconNavBar}">
                                favorite_border</span>

                        </a>

                        <!--/*@thymesVar id="showManageUsersIconNavBar" type=""*/-->

                        <a th:if="${showManageUsersIconNavBar}" href="/manageUsers"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showManageUsersIconNavBar}">
                                group</span>

                        </a>

                        <!--/*@thymesVar id="showShoppingCartIconNavBar" type=""*/-->
                        <a th:if="${showShoppingCartIconNavBar}" href="/shoppingCart"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip"
                                  th:title="#{showShoppingCartIconNavBar}">shopping_cart</span>

                        </a>

                        <!--/*@thymesVar id="showManageUserIconNavBar" type=""*/-->

                        <a th:if="${showManageUserIconNavBar}" href="/accountInfo"
                           class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showManageUserIconNavBar}">
                                account_circle</span>

                        </a>

                        <!--/*@thymesVar id="showLogoutIconNavBar" type=""*/-->

                        <a th:if="${showLogoutIconNavBar}" href="/logout" class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showLogoutIconNavBar}">
                                logout</span>

                        </a>

                        <!--/*@thymesVar id="showUserRegisterIconNavBar" type=""*/-->

                        <a th:if="${showUserRegisterIconNavBar}" href="/register" class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip"
                                  th:title="#{showUserRegisterIconNavBar}">person_add_alt</span>

                        </a>

                        <!--/*@thymesVar id="showLoginIconNavBar" type=""*/-->

                        <a th:if="${showLoginIconNavBar}" href="/login" class="nav-item nav-link d-none d-lg-block">

                            <span class="material-icons" data-toggle="tooltip" th:title="#{showLoginIconNavBar}">
                                login</span>

                        </a>

                        <!-- For mobile version of website -->

                        <a th:if="${showAllWorkoutsIconNavBar}" th:href="${showAllWorkoutsIconNavBarLink}"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">home</span>
                                <div th:text="#{showAllWorkoutsIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showTranslateIconNavBar}" th:href="${translateNavBarPath}"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">translate</span>
                                <div th:text="#{showTranslateIconNavBar}"></div>

                            </div>

                        </a>


                        <a th:if="${showSearchIconNavBar}" href="#" class="nav-item nav-link d-lg-none"
                           data-toggle="modal" data-target="#btnSearch">

                            <div class="inlineFlexNav">

                                <span class="material-icons">search</span>
                                <div th:text="#{showSearchIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showCommentsIconNavBar}" href="//workoutComments?id=-1"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">chat</span>
                                <div th:text="#{showCommentsIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showWorkoutSummaryIconNavBar}" href="/summary"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">bar_chart</span>
                                <div th:text="#{showWorkoutSummaryIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showWorkoutReservationsIconNavBar}" href="/reservations"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">event</span>
                                <div th:text="#{showWorkoutReservationsIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${addPeriodIconNavBar}" href="#" class="nav-item nav-link d-lg-none"
                           data-toggle="modal" data-target="#btnAddNewPeriod">

                            <div class="inlineFlexNav">

                                <span class="material-icons">more_time</span>
                                <div th:text="#{addPeriodIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showAuditoriumsIconNavBar}" href="/auditoriums" class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">apartment</span>
                                <div th:text="#{showAuditoriumsIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showAddNewWorkoutIconNavBar}" href="/addNewWorkout" class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">fitness_center</span>
                                <div th:text="#{showAddNewWorkoutIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showFavoritesIconNavBar}" href="/wishlist"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">favorite_border</span>
                                <div th:text="#{showFavoritesIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showManageUsersIconNavBar}" href="/manageUsers"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">group</span>
                                <div th:text="#{showManageUsersIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showShoppingCartIconNavBar}" href="/shoppingCart"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">shopping_cart</span>
                                <div th:text="#{showShoppingCartIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showManageUserIconNavBar}" href="/accountInfo"
                           class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">account_circle</span>
                                <div th:text="#{showManageUserIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showLogoutIconNavBar}" href="/logout" class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">logout</span>
                                <div th:text="#{showLogoutIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showUserRegisterIconNavBar}" href="/register" class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">person_add_alt</span>
                                <div th:text="#{showUserRegisterIconNavBar}"></div>

                            </div>

                        </a>

                        <a th:if="${showLoginIconNavBar}" href="/login" class="nav-item nav-link d-lg-none">

                            <div class="inlineFlexNav">

                                <span class="material-icons">login</span>
                                <div th:text="#{showLoginIconNavBar}"></div>

                            </div>

                        </a>

                    </div>

                </div>

            </div>

        </nav>

    </body>

</html>