<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<body>

<div th:fragment="reservationSearchModal" class="modal fade" id="btnSearch" tabindex="-1"
     role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100" th:text="#{modalTitle_reservation_search_page}"></h4>

            </div>

            <div class="modal-body">

                <form th:action="@{/reservationsSearchResult}" th:object="${reservationSearchForm}" method="post">

                    <div th:if="${isAdministrator}" class="form-row">

                        <label for="customerFilter" th:text="#{customerFilter_reservation_search_page}"></label>

                        <select class="form-control text-center" name="customerFilter" id="customerFilter">

                            <option value="" th:text="#{customerFilterOption_reservation_search_page}" selected>
                                </option>
                            <option th:each="tempRegisteredUsers:${registeredUsers}"
                                    th:text="${tempRegisteredUsers.userName}"
                                    th:if="${#strings.toString(tempRegisteredUsers.userRole) == 'Customer'}"
                                    th:value="${tempRegisteredUsers.userId}"></option>

                        </select>

                    </div>

                    <div class="form-row">

                        <label for="reservationSortBy" th:text="#{lblSortBy}"></label>

                        <select class="form-control text-center" name="reservationSortBy" id="reservationSortBy">

                            <option th:if="${isAdministrator}" value="ORDER BY registereduser.userName ASC"
                                th:text="#{orderByCustomerASC_reservation_search_page}"></option>
                            <option th:if="${isAdministrator}" value="ORDER BY registereduser.userName DESC"
                                    th:text="#{orderByCustomerDESC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutName ASC"
                                    th:text="#{orderByWorkoutNameASC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutName DESC"
                                    th:text="#{orderByWorkoutNameDESC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutCoaches ASC"
                                    th:text="#{orderByWorkoutCoachesASC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutCoaches DESC"
                                th:text="#{orderByWorkoutCoachesDESC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutOrganizationType ASC"
                                th:text="#{orderByWorkoutOrganizationTypeASC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutOrganizationType DESC"
                                th:text="#{orderByWorkoutOrganizationTypeDESC_reservation_search_page}"></option>
                            <option value="ORDER BY period.workoutDateTimeStart ASC"
                                    th:text="#{orderByWorkoutDateTimeStartASC_reservation_search_page}"></option>
                            <option value="ORDER BY period.workoutDateTimeStart DESC"
                                    th:text="#{orderByWorkoutDateTimeStartDESC_reservation_search_page}"></option>
                            <option value="ORDER BY periodreserved.periodDateTimeReservation ASC"
                                th:text="#{orderByWorkoutDateTimeReservationASC_reservation_search_page}"></option>
                            <option value="ORDER BY periodreserved.periodDateTimeReservation DESC"
                                    th:text="#{orderByWorkoutDateTimeReservationDESC_reservation_search_page}" selected>
                            </option>
                            <option value="ORDER BY workout.workoutPrice ASC"
                                    th:text="#{orderByWorkoutPriceASC_reservation_search_page}"></option>
                            <option value="ORDER BY workout.workoutPrice DESC"
                                    th:text="#{orderByWorkoutPriceDESC_reservation_search_page}"></option>

                        </select>

                    </div>

                    <div class="form-row">

                        <div class="inlineFlex w-100 marginTopDefault alignRight">

                            <input type="button" id="btnCancel" class="btn btn-light w-25" data-dismiss="modal"
                                   th:value="#{btnCancel}"/>

                            <input type="submit" id="btnWorkoutSearch" class="btn btn-light w-25"
                                   th:value="#{btnSearch}"/>

                        </div>

                    </div>

                </form>

            </div>


        </div>

    </div>

</div>

</body>

</html>