<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<body>

<div th:fragment="userSearchModal" class="modal fade" id="btnSearch" tabindex="-1"
     role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header text-center">

                <h4 class="modal-title w-100" th:text="#{modalTitle_user_search_page}"></h4>

            </div>

            <div class="modal-body">

                <form th:action="@{/usersSearchResult}" th:object="${userSearchForm}" method="post">

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <label for="userName" th:text="#{userName_user_search_page}"></label>
                            <input type="search" class="form-control" id="userName" name="userName"
                                   th:placeholder="#{userNamePlaceholder_user_search_page}">
                        </div>

                        <div class="form-group col-md-6">

                            <label for="userRole" th:text="#{userRole_user_search_page}"></label>

                            <select class="form-control text-center" name="userRole" id="userRole">

                                <option value="" selected> </option>
                                <option value="Administrator"
                                        th:text="#{selectUserRoleAdministrator_user_search_page}"></option>
                                <option value="Customer"
                                        th:text="#{selectUserRoleCustomer_user_search_page}"></option>

                            </select>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-12">

                            <label for="userSortBy" th:text="#{lblSortBy}"></label>

                            <select class="form-control text-center" name="userSortBy" id="userSortBy">

                                <option value="" selected> </option>
                                <option value="ORDER BY userName ASC" th:text="#{orderByUserNameASC_user_search_page}">
                                </option>
                                <option value="ORDER BY userName DESC"
                                        th:text="#{orderByUserNameDESC_user_search_page}"></option>
                                <option value="ORDER BY userRole ASC" th:text="#{orderByUserRoleASC_user_search_page}">
                                    </option>
                                <option value="ORDER BY userRole DESC"
                                        th:text="#{orderByUserRoleDESC_user_search_page}"></option>
                                <option value="ORDER BY userDateTimeRegistration ASC"
                                        th:text="#{orderByUserDateTimeRegistrationASC_user_search_page}"></option>
                                <option value="ORDER BY userDateTimeRegistration DESC"
                                        th:text="#{orderByUserDateTimeRegistrationDESC_user_search_page}"></option>

                            </select>

                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6"></div>

                        <div class="form-group col-md-6">

                            <div class="inlineFlex w-100">

                                <input type="button" id="btnCancel" class="btn btn-light" data-dismiss="modal"
                                       th:value="#{btnCancel}"/>

                                <input type="submit" id="btnWorkoutSearch" class="btn btn-light"
                                       th:value="#{btnSearch}"/>

                            </div>

                        </div>

                    </div>

                </form>

            </div>


        </div>

    </div>

</div>

</body>

</html>