<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

    <body>

    <div th:fragment="workoutSearchModal" class="modal fade" id="btnSearch" tabindex="-1"
         role="dialog">

        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header text-center">

                    <h4 class="modal-title w-100" th:text="#{modalTitle_workout_search_page}"></h4>

                </div>

                <div class="modal-body">

                    <form th:action="@{/workoutsSearchResult}" th:object="${workoutSearchForm}" method="post">

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <label for="workoutName" th:text="#{workoutName_workout_search_page}"></label>
                                <input type="search" class="form-control" id="workoutName" name="workoutName"
                                       th:placeholder="#{workoutNamePlaceholder_workout_search_page}">
                            </div>

                            <div class="form-group col-md-6">

                                <label for="workoutCoach" th:text="#{workoutCoach_workout_search_page}"></label>
                                <input type="search" class="form-control" id="workoutCoach" name="workoutCoach"
                                       th:placeholder="#{workoutCoachPlaceholder_workout_search_page}">
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <label for="workoutTypeName" th:text="#{workoutTypeName_workout_search_page}"></label>

                                <select class="form-control text-center" name="workoutTypeName" id="workoutTypeName">

                                    <option value="" selected> </option>

                                    <option th:each="tempWorkouts:${workoutTypes}"
                                            th:text="${tempWorkouts.workoutTypeName}"
                                            th:value="${tempWorkouts.workoutTypeName}">
                                </select>

                            </div>

                            <div class="form-group col-md-6">

                                <label for="workoutCoach" th:text="#{workoutPrice_workout_search_page}"></label>

                                <div class="inlineFlex">

                                    <input type="search" class="form-control" id="workoutPriceMin" name="workoutPriceMin"
                                           placeholder="Min">

                                    <input type="search" class="form-control" id="workoutPriceMax" name="workoutPriceMax"
                                           placeholder="Max">
                                </div>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <label for="workoutOrganizationType"
                                       th:text="#{workoutOrganizationType_workout_search_page}"></label>

                                <select class="form-control text-center" name="workoutOrganizationType"
                                        id="workoutOrganizationType">

                                    <option value="" selected> </option>
                                    <option value="Individual"
                                            th:text="#{selectWorkoutOrganizationTypeIndividual_workout_search_page}">
                                    </option>
                                    <option value="Group"
                                            th:text="#{selectWorkoutOrganizationTypeGroup_workout_search_page}">
                                    </option>

                                </select>

                            </div>

                            <div class="form-group col-md-6">

                                <label for="workoutLevel" th:text="#{workoutLevel_workout_search_page}"></label>

                                <select class="form-control text-center" name="workoutLevel" id="workoutLevel">

                                    <option value="" selected> </option>
                                    <option value="Amateur" th:text="#{selectWorkoutLevelAmateur_workout_search_page}">
                                    </option>
                                    <option value="Medium" th:text="#{selectWorkoutLevelMedium_workout_search_page}">
                                    </option>
                                    <option value="Advanced" th:text="#{selectWorkoutLevelAdvanced_workout_search_page}">
                                    </option>

                                </select>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-12">

                                <label for="workoutSortBy" th:text="#{lblSortBy}"></label>

                                <select class="form-control text-center" name="workoutSortBy" id="workoutSortBy">

                                    <option value="" selected> </option>
                                    <option value="ORDER BY workoutName ASC"
                                            th:text="#{orderByWorkoutNameASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutName DESC"
                                            th:text="#{orderByWorkoutNameDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutCoaches ASC"
                                            th:text="#{orderByWorkoutCoachesASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutCoaches DESC"
                                            th:text="#{orderByWorkoutCoachesDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutPrice ASC"
                                            th:text="#{orderByWorkoutPriceASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutPrice DESC"
                                            th:text="#{orderByWorkoutPriceDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutTypeName ASC"
                                            th:text="#{orderByWorkoutTypeASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutTypeName DESC"
                                            th:text="#{orderByWorkoutTypeDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutOrganizationType ASC"
                                            th:text="#{orderByWorkoutOrganizationTypeASC_workout_search_page}">
                                    </option>
                                    <option value="ORDER BY workoutOrganizationType DESC"
                                            th:text="#{orderByWorkoutOrganizationTypeDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutLevel ASC"
                                            th:text="#{orderByWorkoutLevelASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutLevel DESC"
                                            th:text="#{orderByWorkoutLevelDESC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutAverageRate ASC"
                                            th:text="#{orderByWorkoutAverageASC_workout_search_page}"></option>
                                    <option value="ORDER BY workoutAverageRate DESC"
                                            th:text="#{orderByWorkoutAverageDESC_workout_search_page}"></option>

                                </select>

                            </div>

                        </div>

                        <div class="form-row">

                            <div class="form-group col-md-6"></div>

                            <div class="form-group col-md-6">

                                <div class="inlineFlex w-100">

                                    <input type="button" id="btnCancel" class="btn btn-light" data-dismiss="modal"
                                           th:value="#{btnCancel}"/>

                                    <input type="submit" id="btnWorkoutSearch" class="btn btn-light"
                                           th:value="#{btnSearch}"/>

                                </div>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <script src="js/workoutPriceValidation.js" type="text/javascript"></script>

    </div>

    </body>

</html>