<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title>Add new Workout</title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="container-fluid paddingNormal w-50">

        <form th:action="@{/sendAddWorkoutData}" th:object="${addWorkoutForm}" enctype="multipart/form-data"
              method="post">

            <div class="row">

                <div class="col-lg-6 com-md-6 col-sm-6 col-xs-6 mb-6">

                    <br>
                    <label for="newWorkoutName">Workout Name:</label>
                    <br>
                    <input class="form-control" type="text" name="newWorkoutName" id="newWorkoutName"
                           placeholder="Workout Name" required="true">

                    <br>
                    <label for="newWorkoutIncludedTypes">Workout Types:</label>
                    <br>

                    <select class="select w-100" id="newWorkoutIncludedTypes" name="newWorkoutIncludedTypes"
                            required="true" multiple>

                        <option th:each="tempWorkoutTypes:${addNewWorkoutTypes}"
                                th:text="${tempWorkoutTypes.workoutTypeName}"
                                th:value="${tempWorkoutTypes.workoutTypeName}">

                    </select>

                    <br><br>
                    <label for="newWorkoutCoaches">Workout Coaches:</label>
                    <br>

                    <input class="form-control" type="text" name="newWorkoutCoaches" id="newWorkoutCoaches"
                           placeholder="Workout Coaches" required="true">

                    <br>
                    <label>Workout Price and Organization Type:</label>
                    <br>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutPrice" minlength="1" maxlength="6"
                                   name="newWorkoutPrice" placeholder="Price">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutOrganizationType"
                                    name="newWorkoutOrganizationType" required="true">

                                <option value="" hidden></option>
                                <option value="Individual">Individual</option>
                                <option value="Group">Group</option>

                            </select>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 com-md-6 col-sm-6 col-xs-6 mb-6">

                    <br>
                    <label>Workout Length and Level:</label>
                    <br>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutLength" minlength="1" maxlength="4"
                                   name="newWorkoutLength" placeholder="Length (in minutes)">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutLevel" name="newWorkoutLevel" required="true">

                                <option value="" hidden></option>
                                <option value="Amateur">Amateur</option>
                                <option value="Medium">Medium</option>
                                <option value="Advanced">Advanced</option>

                            </select>

                        </div>

                    </div>

                    <label style="margin-top: 7px;" for="newWorkoutImage">Workout Image:</label>

                    <div class="custom-file">

                        <input type="file" class="custom-file-input" id="newWorkoutImage" name="newWorkoutImage"
                               required="true">

                        <label class="custom-file-label" id="newWorkoutImageLabel" for="newWorkoutImage">
                            Click here to select Image
                        </label>

                    </div>

                    <br><br>

                    <label for="newWorkoutDescription">Workout Description:</label>

                    <textarea class="form-control" id="newWorkoutDescription" name="newWorkoutDescription"
                              rows="4"></textarea>

                </div>

                <input type="text" name="newWorkoutImageUrl" id="newWorkoutImageUrl" value="textURL" hidden>

                <input style="margin-right: 15px;" class="btn btn-light btn-sm w-100" id="addNewWorkoutButton"
                       type="submit" value="Add New Workout">

            </div>

        </form>

        <a style="margin-top: 15px;" class="btn btn-light btn-sm w-100" href="/workouts"> Back to all workouts </a>

        <script src="js/addNewWorkout.js" type="text/javascript"></script>

    </div>

</body>

</html>