<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title th:text="#{title_add_new_workout_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="container-fluid paddingNormal w-50">

        <form th:action="@{/sendAddWorkoutData}" th:object="${addWorkoutForm}" enctype="multipart/form-data"
              method="post">

            <div class="row">

                <div class="col-lg-6 com-md-6 col-sm-12 col-xs-12 mb-12">

                    <label for="newWorkoutName" th:text="#{newWorkoutName_add_new_workout_page}"></label>

                    <input class="form-control" type="text" name="newWorkoutName" id="newWorkoutName"
                           th:placeholder="#{newWorkoutNamePlaceholder_add_new_workout_page}" required="true">

                    <label for="newWorkoutIncludedTypes" th:text="#{newWorkoutIncludedTypes_add_new_workout_page}">

                    </label>

                    <select class="select w-100" id="newWorkoutIncludedTypes" name="newWorkoutIncludedTypes"
                            required="true" multiple>

                        <option th:each="tempWorkoutTypes:${addNewWorkoutTypes}"
                                th:text="${tempWorkoutTypes.workoutTypeName}"
                                th:value="${tempWorkoutTypes.workoutTypeName}">

                    </select>

                    <label for="newWorkoutCoaches" th:text="#{newWorkoutCoaches_add_new_workout_page}"></label>

                    <input class="form-control" type="text" name="newWorkoutCoaches" id="newWorkoutCoaches"
                           th:placeholder="#{newWorkoutCoachesPlaceholder_add_new_workout_page}" required="true">

                    <label for="newWorkoutImage" th:text="#{newWorkoutImage_add_new_workout_page}"></label>

                    <div class="custom-file">

                        <input type="file" class="custom-file-input" id="newWorkoutImage" name="newWorkoutImage"
                               required="true">

                        <label class="custom-file-label" id="newWorkoutImageLabel" for="newWorkoutImage"
                            th:text="#{newWorkoutImageLabel_add_new_workout_page}"></label>

                    </div>

                </div>

                <div class="col-lg-6 com-md-6 col-sm-12 col-xs-12 mb-12">

                    <label th:text="#{workoutPriceAndOrganizationType_add_new_workout_page}"></label>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutPrice" minlength="1" maxlength="6"
                                   name="newWorkoutPrice"
                                   th:placeholder="#{newWorkoutPricePlaceholder_add_new_workout_page}">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutOrganizationType"
                                    name="newWorkoutOrganizationType" required="true">

                                <option value="" hidden></option>
                                <option value="Individual"
                                        th:text="#{selectWorkoutOrganizationTypeIndividual_add_new_workout_page}">
                                </option>
                                <option value="Group"
                                        th:text="#{selectWorkoutOrganizationTypeGroup_add_new_workout_page}"></option>

                            </select>

                        </div>

                    </div>

                    <label th:text="${workoutLengthAndLevel_add_new_workout_page}"></label>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutLength" minlength="1" maxlength="4"
                                   name="newWorkoutLength"
                                   th:placeholder="#{newWorkoutLengthPlaceholder_add_new_workout_page}">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutLevel" name="newWorkoutLevel" required="true">

                                <option value="" hidden></option>
                                <option value="Amateur" th:text="#{selectWorkoutLevelAmateur_add_new_workout_page}">
                                </option>
                                <option value="Medium" th:text="#{selectWorkoutLevelMedium_add_new_workout_page}">
                                </option>
                                <option value="Advanced" th:text="#{selectWorkoutLevelAdvanced_add_new_workout_page}">
                                </option>

                            </select>

                        </div>

                    </div>

                    <label for="newWorkoutDescription" th:text="#{newWorkoutDescription_add_new_workout_page}"></label>

                    <textarea class="form-control" id="newWorkoutDescription" name="newWorkoutDescription"
                              rows="5"></textarea>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input class="btn btn-light btn-sm marginTopDefault w-100" id="cancelAddNewEditWorkoutButton"
                                   type="button" th:value="#{btnCancel}"/>

                        </div>

                        <div class="form-group col-md-6">

                            <input class="btn btn-light btn-sm marginTopDefault w-100" id="addNewWorkoutButton"
                                   type="submit" th:value="#{addNewWorkoutButton_add_new_workout_page}">

                        </div>

                    </div>


                </div>

                <input type="text" name="newWorkoutImageUrl" id="newWorkoutImageUrl" value="" required="true"
                       hidden>

            </div>

        </form>

        <script src="js/addNewEditWorkout.js" type="text/javascript"></script>

    </div>

</body>

</html>