<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title>Auditoriums</title>

    <div th:insert="/fragments/header :: header"></div>

</head>
<body>

<div th:insert="/fragments/navigationBar :: navBar"></div>
<div th:insert="/fragments/auditoriumSearch :: auditoriumSearchModal"></div>

<div class="center paddingSmall w-90">

    <p class="centerError paddingBottom green" th:if="${auditoriumRemoveSuccess}">
        Selected auditorium is successfully removed </p>

    <p class="centerError paddingBottom red" th:if="${auditoriumRemoveFailed}">
        Selected auditorium is not possible to remove currently </p>

    <div class="inlineFlex w-100 paddingBottom">

        <div th:each="tempAuditoriumList:${auditoriumAddId}">

            <div th:insert="/fragments/auditoriumDetails :: auditoriumDetailsModal"></div>

            <a class="btn btn-light" data-toggle="modal"
               th:data-target="@{'#linkAuditoriumDetails' + ${tempAuditoriumList.auditoriumId}}">
                Add new auditorium</a>

        </div>


    </div>

    <div class="table-responsive scrollable">

        <table class="table table-bordered w-100">

            <thead class="thead-light">

            <tr>

                <th scope="col">Auditorium ID</th>
                <th scope="col">Capacity</th>

            </tr>

            </thead>

            <tbody>

            <tr th:each="tempAuditoriumList:${auditoriumList}">

                <td>

                    <div th:insert="/fragments/auditoriumDetails :: auditoriumDetailsModal"></div>

                    <!-- th:href="@{'/auditoriumDetails?id=' + ${tempAuditoriumList.auditoriumId}}" !-->

                    <a class="link-primary" data-toggle="modal" th:data-target="@{'#linkAuditoriumDetails' + ${tempAuditoriumList.auditoriumId}}"

                       th:text="${tempAuditoriumList.auditoriumId}"></a>

                </td>

                <td th:text="${tempAuditoriumList.capacity}"></td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>