<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title th:text="#{title_edit_workout_details_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="container-fluid paddingNormal w-50">

        <form th:action="@{'/sendEditWorkoutData?id=' + ${workoutForEdit.workoutId}}" th:object="${editWorkoutForm}"
              enctype="multipart/form-data" method="post">

            <div class="row">

                <div class="col-lg-6 com-md-6 col-sm-6 col-xs-6 mb-6">

                    <label for="newWorkoutName" th:text="#{newWorkoutName_edit_workout_details_page}"></label>

                    <input class="form-control" type="text" name="newWorkoutName" id="newWorkoutName"
                        required="true" th:value="${workoutForEdit.workoutName}">

                    <label for="newWorkoutIncludedTypes" th:text="#{newWorkoutTypes_edit_workout_details_page}"></label>

                    <select class="select w-100" id="newWorkoutIncludedTypes" name="newWorkoutIncludedTypes"
                            required="true" multiple>

                        <div>

                            <option th:each="tempSelectedWorkoutIncludedTypes:${selectedWorkoutIncludedTypes}"
                                    th:text="${tempSelectedWorkoutIncludedTypes.workoutTypeName}"
                                    th:value="${tempSelectedWorkoutIncludedTypes.workoutTypeName}"
                                    th:selected="${#lists.contains(tempSelectedWorkoutIncludedTypes.returnValue, 'true')}">

                            </option>

                        </div>

                    </select>

                    <label for="newWorkoutCoaches" th:text="#{newWorkoutCoaches_edit_workout_details_page}"></label>

                    <input class="form-control" type="text" name="newWorkoutCoaches" id="newWorkoutCoaches"
                           required="true" th:value="${workoutForEdit.workoutCoaches}">

                    <label style="margin-top: 7px;" for="newWorkoutImage" th:text="#{newWorkoutImage_edit_workout_details_page}">
                    </label>

                    <div class="custom-file">

                        <input type="file" class="custom-file-input" id="newWorkoutImage" name="newWorkoutImage"
                               th:value="${workoutForEdit.workoutImage}">

                        <label class="custom-file-label" id="newWorkoutImageLabel" for="newWorkoutImage"
                            th:text="#{newWorkoutImageLabel_edit_workout_details_page}"></label>

                    </div>

                </div>

                <div class="col-lg-6 com-md-6 col-sm-6 col-xs-6 mb-6">

                    <label th:text="#{workoutPriceAndOrganizationType_edit_workout_details_page}"></label>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutPrice" minlength="1" maxlength="6"
                                   name="newWorkoutPrice" th:value="${workoutForEdit.workoutPrice}">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutOrganizationType"
                                    name="newWorkoutOrganizationType" required="true">

                                <option value="" hidden></option>

                                <option th:value="Individual"
                                        th:text="#{selectWorkoutOrganizationTypeIndividual_edit_workout_details_page}"
                                        th:selected="${#lists.contains(workoutForEdit.workoutOrganizationType, individualWorkout)}">
                                </option>

                                <option th:value="Group"
                                        th:text="#{selectWorkoutOrganizationTypeGroup_edit_workout_details_page}"
                                        th:selected="${#lists.contains(workoutForEdit.workoutOrganizationType, groupWorkout)}">

                                </option>

                            </select>

                        </div>

                    </div>

                    <label th:text="#{workoutLengthAndLevel_edit_workout_details_page}"></label>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input type="text" class="form-control" id="newWorkoutLength" minlength="1" maxlength="4"
                                   name="newWorkoutLength" th:value="${workoutForEdit.workoutLength}">

                        </div>

                        <div class="form-group col-md-6">

                            <select class="form-control" id="newWorkoutLevel" name="newWorkoutLevel" required="true">

                                <option value="" hidden></option>
                                <option th:value="Amateur"
                                        th:text="#{selectWorkoutLevelAmateur_edit_workout_details_page}"
                                        th:selected="${#lists.contains(workoutForEdit.workoutLevel, amateurLevel)}">
                                </option>
                                <option th:value="Medium"
                                        th:text="#{selectWorkoutLevelMedium_edit_workout_details_page}"
                                        th:selected="${#lists.contains(workoutForEdit.workoutLevel, mediumLevel)}">
                                </option>
                                <option th:value="Advanced"
                                        th:text="#{selectWorkoutLevelAdvanced_edit_workout_details_page}"
                                        th:selected="${#lists.contains(workoutForEdit.workoutLevel, advancedLevel)}">

                                </option>

                            </select>

                        </div>

                    </div>

                    <label for="newWorkoutDescription" th:text="#{newWorkoutDescription_edit_workout_details_page}">
                    </label>

                    <textarea class="form-control" id="newWorkoutDescription" name="newWorkoutDescription"
                              rows="5" th:text="${workoutForEdit.workoutDescription}"></textarea>

                    <div class="form-row">

                        <div class="form-group col-md-6">

                            <input class="btn btn-light btn-sm marginTopDefault w-100" id="cancelAddNewEditWorkoutButton"
                                   type="button" th:value="#{btnCancel}"/>

                        </div>

                        <div class="form-group col-md-6">

                            <input class="btn btn-light btn-sm marginTopDefault w-100" id="editNewWorkoutButton"
                                   type="submit" th:value="#{btnSave}">

                        </div>

                    </div>

                </div>

                <input type="text" name="newWorkoutImageUrl" id="newWorkoutImageUrl" required="true"
                       th:value="${workoutForEdit.workoutImage}" hidden>

            </div>

        </form>

        <script src="js/addNewEditWorkout.js" type="text/javascript"></script>

    </div>

</body>

</html>