<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title>MagicBoost Gym</title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div th:insert="/fragments/workoutsSearch :: workoutsSearchModal"></div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-1 vertical-center flexCenter">

                <a id="arrow-left">

                    <div th:insert="/fragments/svg/images :: arrowLeft"></div>

                </a>

            </div>

            <div class="col-10 vertical-center flexCenter">

                <div class="container-fluid" id="workoutViewGuest">

                    <div class="d-flex justify-content-start" id="workoutCardsContainer">

                        <div th:each="tempWorkouts:${workouts}" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">

                            <div class="card">

                                <div class="thumbnail">

                                    <a href="">

                                        <div class="cardImage flexCenter">

                                            <img class="img-responsive" th:src="@{${tempWorkouts.workoutImage}}"
                                                 alt="">

                                        </div>

                                        <div class="caption">

                                            <p th:text="${tempWorkouts.workoutName}"></p>

                                        </div>

                                    </a>

                                </div>

                                <div class="rating flexCenter">

                                    <span th:if="${tempWorkouts.workoutAverageRate < 1}" class="star">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate >= 1}" class="star checked">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate < 3}" class="star">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate >= 3}" class="star checked">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate < 5}" class="star">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate >= 5}" class="star checked">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate < 7}" class="star">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate >= 7}" class="star checked">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate < 9}" class="star">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                    <span th:if="${tempWorkouts.workoutAverageRate >= 9}" class="star checked">

                                        <div th:insert="/fragments/svg/images :: star"></div>

                                    </span>

                                </div>

                                <p class="card-text marginsDefault" th:text="${tempWorkouts.workoutDescription}"></p>

                                <p class="card-text bold blue marginsDefault" th:text="${tempWorkouts.workoutPrice}  + ' RSD'"></p>

                                <div class="cardButtons alignCenter">

                                    <a> <div th:insert="/fragments/svg/images :: reservation" data-toggle="tooltip"
                                             title="Make a reservation for this workout"></div> </a>

                                    <a class="heart" data-toggle="tooltip" title="Add workout to wishlist"></a>

                                    <a> <div th:insert="/fragments/svg/images :: info" data-toggle="tooltip"
                                             title="Workout details"></div> </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-1 vertical-center flexCenter">

                <a id='arrow-right'>

                    <div th:insert="/fragments/svg/images :: arrowRight"></div>

                </a>

            </div>

        </div>

    </div>

    <script src="/js/scroll.js" type="text/javascript"></script>

</body>

</html>