<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagicBoost Gym - Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>

    <div class="center">

        <h2>MagicBoost Gym Login</h2>

        <p class="centerError" th:if="${invalidCredentials}"> Username or Password is not correct! </p>

        <form th:action="@{/}" th:object="${loginForm}" method="post">

            <br>
            <label for="userName">User Name:</label>
            <br>
            <input class="form-control" type="text" name="userName" id="userName" placeholder="User Name">
            <br>
            <label for="password">Password:</label>
            <br>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
            <br>
            <input class="btn btn-light btn-sm" type="submit" value="Login">
            <br>

        </form>

        <br>
        <a class="btn btn-light btn-sm w-100"  href="/register"> Register </a>


    </div>

</body>

</html>