<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title th:text="#{title_login_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div class="center paddingNormal w-40">

        <h2 th:text="#{title_login_page}"></h2>

        <p class="center marginTopSmallDefault w-80 red" th:if="${invalidCredentials}"
           th:text="#{invalidCredentials_login_page}"></p>
        <p class="center w-80 green" th:if="${registrationSuccessful}"
           th:text="#{registrationSuccessful_login_page}"></p>
        <p class="center w-80 red" th:if="${permissionDenied}" th:text="#{permissionDenied_login_page}"></p>

        <div class="paddingNormal">

            <form th:action="@{/}" th:object="${loginForm}" method="post">

                <label for="userName" th:text="#{userName_login_page}"></label>

                <input class="form-control" type="text" name="userName" id="userName"
                       th:placeholder="#{userNamePlaceholder_login_page}">

                <label for="password" th:text="#{password_login_page}"></label>

                <input class="form-control" type="password" name="password" id="password"
                       th:placeholder="#{passwordPlaceholder_login_page}">

                <input class="btn btn-light btn-sm marginTopDefault" type="submit" th:value="#{btnLogin_login_page}">

            </form>

            <a th:if="${showRegisterButton}" class="btn btn-light btn-sm marginTopDefault w-100" href="/register"
                th:text="#{btnRegister_login_page}"></a>

            <a th:if="${showCancelButton}" class="btn btn-light btn-sm marginTopDefault w-100"
               href="javascript:history.back()" th:text="#{btnCancel}"></a>

            <a th:if="${continueAsGuestButton}" class="btn btn-light btn-sm marginTopDefault w-100"
               href="/" th:text="#{btnGuest_login_page}"></a>

        </div>

    </div>

</body>

</html>