<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title>MagicBoost Gym - Login</title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div class="center paddingNormal w-40">

        <h2>MagicBoost Gym Login</h2>

        <p class="center marginTopSmallDefault w-80 red" th:if="${invalidCredentials}"> Username or Password is not correct </p>
        <p class="center w-80 green" th:if="${registrationSuccessful}"> You have successfully registered your account </p>

        <div class="paddingNormal">

            <form th:action="@{/}" th:object="${loginForm}" method="post">

                <label for="userName">User Name:</label>

                <input class="form-control" type="text" name="userName" id="userName" placeholder="User Name">

                <label for="password">Password:</label>

                <input class="form-control" type="password" name="password" id="password" placeholder="Password">

                <input class="btn btn-light btn-sm marginTopDefault" type="submit" value="Login">

            </form>

            <a th:if="${showRegisterButton}" class="btn btn-light btn-sm marginTopDefault w-100"  href="/register"> Register </a>

            <a th:if="${showCancelButton}" class="btn btn-light btn-sm marginTopDefault w-100"
               href="javascript:history.back()">Cancel</a>

            <a th:if="${continueAsGuestButton}" class="btn btn-light btn-sm marginTopDefault w-100"
               href="/">Continue as Guest</a>

        </div>

    </div>

</body>

</html>