<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title>Register to gym center</title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div class="container-fluid paddingNormal w-50">

        <h2>Register to MagicBoost Gym</h2>

        <div class="paddingNormal">

            <form th:action="@{/sendRegistrationData}" th:object="${addEditAccountForm}" method="post">

                <div class="row">

                    <div class="col-lg-6 com-md-6 col-sm-12 col-xs-12 mb-12">

                        <label for="userFirstName">First name:</label>

                        <input class="form-control" type="text" name="userFirstName" id="userFirstName"
                               placeholder="First name" required="true">

                        <label for="userLastName">Last name:</label>

                        <input class="form-control" type="text" name="userLastName" id="userLastName"
                               placeholder="Last name" required="true">

                        <label for="userEmail">Email:</label>

                        <input class="form-control" type="email" name="userEmail" id="userEmail" placeholder="Email"
                               required="true">

                        <label>Date of birth:</label>

                        <div class="form-row">

                            <div class="form-group col-md-4">

                                <input type="text" class="form-control"
                                       id="dayOfUserDateBirth" maxlength="2" minlength="1"
                                       name="dayOfUserDateBirth" placeholder="Day" required="true">
                            </div>

                            <div class="form-group col-md-4">

                                <select class="form-control" id="monthOfUserDateBirth" name="monthOfUserDateBirth"
                                        required="true">

                                    <option value="" hidden>Month</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>

                            </div>

                            <div class="form-group col-md-4">

                                <input type="text" class="form-control" id="yearOfUserDateBirth" name="yearOfUserDateBirth"
                                       placeholder="Year" maxlength="4" minlength="4" required="true">
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6 com-md-6 col-sm-12 col-xs-12 mb-12">

                        <label for="userName">Username:</label>

                        <input class="form-control" type="text" name="userName" id="userName" placeholder="Username"
                               required="true">

                        <label for="userPassword">Password:</label>

                        <input class="form-control" type="password" name="userPassword" id="userPassword"
                               placeholder="Password" required="true">

                        <label for="userPhoneNumber">Phone number:</label>

                        <input class="form-control" type="text" name="userPhoneNumber" id="userPhoneNumber"
                               placeholder="Phone number" minlength="8" maxlength="15" required="true">

                        <label for="userAddress">Address:</label>

                        <input class="form-control" type="text" name="userAddress" id="userAddress"
                               placeholder="Address" required="true">

                        <div class="form-row">

                            <div class="form-group col-md-6">

                                <input class="btn btn-light btn-sm marginTopDefault w-100" id="cancelAddEditAccount"
                                       type="button" value="Cancel" onclick="history.back()"/>

                            </div>

                            <div class="form-group col-md-6">

                                <input class="btn btn-light btn-sm marginTopDefault w-100" id="registerButton" type="submit"
                                       value="Register Now">

                            </div>

                        </div>

                    </div>

                </div>

            </form>

            <script src="js/addEditAccount.js" type="text/javascript"></script>

            <p class="centerError paddingNormal red" th:if="${registrationFailed}">
                Registration failed because of database error </p>

        </div>

    </div>

</body>

</html>