<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title th:text="#{title_reservation_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>
<body>

    <div th:insert="/fragments/reservationSearch :: reservationSearchModal"></div>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="center paddingSmall w-90">

        <div class="table-responsive scrollable">

            <table class="table table-bordered w-100">

                <thead class="thead-light">

                <tr>

                    <th th:if="${isAdministrator}" scope="col" th:text="#{colCustomer_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutName_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutCoaches_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutOrganizationType_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutPeriodStart_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutTimeReservation_reservation_page}"></th>
                    <th scope="col" th:text="#{colWorkoutPrice_reservation_page}"></th>
                    <th th:if="${isAdministrator} == false" scope="col" th:text="#{colActions_reservation_page}"></th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="tempWorkoutReservations:${workoutReservations}">

                    <td th:if="${isAdministrator}" th:text="${tempWorkoutReservations.userName}"></td>

                    <td th:text="${tempWorkoutReservations.workoutName}"></td>

                    <td th:text="${tempWorkoutReservations.workoutCoaches}"></td>

                    <td th:text="${tempWorkoutReservations.workoutOrganizationType}"></td>

                    <td th:text="${#temporals.format(tempWorkoutReservations.workoutDateTimeStart,
                        'dd.MM.yyyy. HH:mm')}"></td>

                    <td th:text="${#temporals.format(tempWorkoutReservations.periodDateTimeReservation, 'dd.MM.yyyy. HH:mm')}"></td>

                    <td th:text="${tempWorkoutReservations.workoutPrice}"></td>

                    <td th:if="${isAdministrator} == false">

                        <div class="inlineFlex alignCenter w-100">

                            <a th:href="@{'/cancelReservation?id=' + ${tempWorkoutReservations.periodReservationId}}"
                               th:if="${#temporals.format(tempWorkoutReservations.workoutDateTimeStart,
                                'dd.MM.yyyy. HH:mm')} > ${#temporals.format(isCancelReservationExpired,
                                'dd.MM.yyyy. HH:mm')}" th:text="#{btnCancelReservation_reservation_page}"></a>

                        </div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>