<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title>Reserved workouts</title>

    <div th:insert="/fragments/header :: header"></div>

</head>
<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="center paddingSmall w-90">

        <div class="table-responsive scrollable">

            <table class="table table-bordered w-100">

                <thead class="thead-light">

                <tr>

                    <th scope="col"> Workout Name </th>
                    <th scope="col"> Workout Coaches</th>
                    <th scope="col"> Workout Org. Type</th>
                    <th scope="col"> Workout Period Start</th>
                    <th scope="col"> Workout Time Reservation</th>
                    <th scope="col"> Workout Price</th>
                    <th scope="col"> Actions </th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="tempShoppingCartItems:${shoppingCartItems}">

                    <td th:text="${tempShoppingCartItems.workoutName}"></td>

                    <td th:text="${tempShoppingCartItems.workoutCoaches}"></td>

                    <td th:text="${tempShoppingCartItems.workoutOrganizationType}"></td>

                    <td th:text="${#temporals.format(tempShoppingCartItems.workoutDateTimeStart, 'dd.MM.yyyy. HH:mm')}"></td>

                    <td th:text="${tempShoppingCartItems.workoutPrice}"></td>

                    <td>

                        <div class="inlineFlex w-100">

                            <div class="inlineFlex w-50 alignCenter">

                                <a class="alignRight" th:href="@{'/reserveWorkout?id=' + ${tempShoppingCartItems.shoppingCartId}}">
                                    Reserve
                                </a>

                            </div>

                            <div class="inlineFlex w-50 alignCenter">

                                <a th:href="@{'/removeShoppingCartItem?id=' + ${tempShoppingCartItems.shoppingCartId}}">
                                    Remove
                                </a>

                            </div>

                        </div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>