<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title th:text="#{title_shopping_cart_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>
<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <p class="centerError marginTopDefault green" th:if="${workoutReservationSuccess}"
        th:text="#{workoutReservationSuccess_shopping_cart_page}"></p>

    <p class="centerError marginTopDefault red" th:if="${checkReservationAvailabilityFailed}"
        th:text="#{checkReservationAvailabilityFailed_shopping_cart_page}"></p>

    <p class="centerError marginTopDefault red" th:if="${checkForPeriodAvailabilityFailed}"
        th:text="#{checkForPeriodAvailabilityFailed_shopping_cart_page}"></p>

    <p class="centerError marginTopDefault red" th:if="${checkReservationTimeOverlappingFailed}"
        th:text="#{checkReservationTimeOverlappingFailed_shopping_cart_page}"></p>

    <div class="center paddingSmall w-90">

        <div class="table-responsive scrollable">

            <table class="table table-bordered w-100">

                <thead class="thead-light">

                <tr>

                    <th scope="col" th:text="#{colWorkoutName_shopping_cart_page}"></th>
                    <th scope="col" th:text="#{colWorkoutCoaches_shopping_cart_page}"></th>
                    <th scope="col" th:text="#{colWorkoutOrganizationType_shopping_cart_page}"></th>
                    <th scope="col" th:text="#{colWorkoutPeriodStart_shopping_cart_page}"></th>
                    <th scope="col" th:text="#{colWorkoutPrice_shopping_cart_page}"></th>
                    <th scope="col" th:text="#{colActions_shopping_cart_page}"></th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="tempShoppingCartItems:${shoppingCartItems}">

                    <td th:text="${tempShoppingCartItems.workoutName}"></td>

                    <td th:text="${tempShoppingCartItems.workoutCoaches}"></td>

                    <td th:text="${tempShoppingCartItems.workoutOrganizationType}"></td>

                    <td th:text="${#temporals.format(tempShoppingCartItems.workoutDateTimeStart, 'dd.MM.yyyy. HH:mm')}"></td>

                    <td th:text="${tempShoppingCartItems.workoutPrice}"></td>

                    <td>

                        <div class="inlineFlex w-100">

                            <div class="inlineFlex w-50 alignCenter">

                                <a class="alignRight" th:href="@{'/reserveWorkout?id=' + ${tempShoppingCartItems.shoppingCartId}}"
                                    th:text="#{btnReserve_shopping_cart_page}"></a>

                            </div>

                            <div class="inlineFlex w-50 alignCenter">

                                <a th:href="@{'/removeShoppingCartItem?id=' + ${tempShoppingCartItems.shoppingCartId}}"
                                    th:text="#{btnRemove_shopping_cart_page}"></a>

                            </div>

                        </div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>