<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <title th:text="#{title_wishlist_page}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="center paddingSmall w-50">

        <div class="table-responsive scrollable">

            <table class="table table-bordered w-100">

                <thead class="thead-light">

                <tr>

                    <th scope="col" th:text="#{colWorkoutName_wishlist_page}"></th>
                    <th scope="col" th:text="#{colActions_wishlist_page}"></th>

                </tr>

                </thead>

                <tbody>

                <tr th:each="tempWishListItems:${wishListItems}">

                    <td>

                        <a th:href="@{'/workoutDetails?id=' + ${tempWishListItems.workoutId}}"
                           th:text="${tempWishListItems.workoutName}"></a>

                    </td>

                    <td>

                        <div class="inlineFlex alignCenter w-100">

                            <a th:href="@{'/removeWishListItem?id=' + ${tempWishListItems.wishListId}}"
                                th:text="#{btnRemove_wishlist_page}">
                            </a>

                        </div>

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</body>
</html>