<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title>List of workouts</title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBarAdministrator"></div>
    <div th:insert="/fragments/workoutsSearch :: workoutsSearchModal"></div>

    <div class="center paddingSmall w-90">

        <p class="centerError" th:if="${workoutAddFailed}"> Error has been occured while adding workout to database! </p>
        <p class="centerSuccess" th:if="${workoutAddSuccess}"> Workout has been successfully added! </p>

        <div class="table-responsive">

            <table class="table table-bordered w-100">

                <thead class="thead-light">

                <tr>
                    <th scope="col"> Workout Image </th>
                    <th scope="col"> Workout Name</th>
                    <th scope="col"> Workout Type</th>
                    <th scope="col"> Workout Level</th>
                    <th scope="col">Workout Coaches</th>
                    <th scope="col"> Workout Price</th>
                    <th scope="col"> Workout Organization Type</th>
                    <th scope="col"> Workout Average Rate</th>
                </tr>

                </thead>

                <tbody>

                <tr th:each="tempWorkouts:${workouts}">

                    <td>
                        <img th:src="@{${tempWorkouts.workoutImage}}" width="64" height="64"/> </td>
                    <td>
                        <a th:href="@{'/workoutDetails?id=' + ${tempWorkouts.workoutId}}"
                           th:text="${tempWorkouts.workoutName}"/>
                    </td>

                    <td th:text="${tempWorkouts.workoutTypeName}"/>
                    <td th:text="${tempWorkouts.workoutLevel}"/>
                    <td th:text="${tempWorkouts.workoutCoaches}"/>
                    <td th:text="${tempWorkouts.workoutPrice}"/>
                    <td th:text="${tempWorkouts.workoutOrganizationType}"/>
                    <td th:text="${tempWorkouts.workoutAverageRate}"/>

                </tr>

                </tbody>

            </table>

        </div>

        <a th:if="${searchPerformed}" class="btn btn-light w-100" href="/workouts">Show all workouts</a>

        <script src="js/workouts.js" type="text/javascript"></script>

    </div>

</body>

</html>