<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Workout Type Details</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid w-75">

        <div class="center w-40">

            <h2 class="text-center" th:text="@{'About ' + ${workoutTypeDetails.workoutTypeName} + ' workouts: '}"/>

        </div>

        <div class="centerTable">

            <p th:text="${workoutTypeDetails.workoutTypeDetailedDescription}" />
            <br>
            <button class="btn btn-light w-100" onclick="history.back()"> Return to Workout Details </button>

        </div>

    </div>

</body>

</html>