<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <title th:text="#{title_workout_comments}"></title>

    <div th:insert="/fragments/header :: header"></div>

</head>

<body>

    <div th:insert="/fragments/navigationBar :: navBar"></div>

    <div class="center paddingSmall w-60 scrollable">

        <div id="comments">

            <!-- <div class="card commentContainer">

                <div class="card-header dirty-white">

                    <div class="inlineFlexGapSmall w-100">

                        <div class="inlineFlexGapSmall commentHeader pointerCursor w-60">

                            <span class="material-icons">account_circle</span>
                            <a id="commentAuthor">User</a>

                        </div>

                        <div class="inlineFlexGapSmall pointerCursor w-40 alignRight">

                            <div class="date-text">2022-06-12 12:54</div>

                        </div>

                    </div>

                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-12 com-md-12 col-sm-12 col-xs-12 mb-12">

                            <div class="inlineFlex gapNormal pointerCursor w-75">

                                <p class="card-text paddingPost">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div> !-->

    </div>

    <script src="js/workoutComments.js" type="text/javascript"></script>

</body>
</html>